#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Keeps the video in the background */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
}

img:hover {
  transform: scale(1.1) rotate(2deg);
}


/* Top-right menu button */
#menuBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  font-size: 24px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

#menuBtn:hover {
  background: rgba(255, 255, 255, 1);
}

/* Floating center menu */
#floatingMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  height: 80%;
  aspect-ratio: 3 / 2;
  background-size: cover;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Active state */
#floatingMenu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}


.floating-menu {
  background-image: url('files/assets/mur.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.fridge {
  width: 40%;
  height: 90%;
  margin-top: 5%;
  margin-left: 5%;
  overflow-y: auto;
  background-image: url('files/assets/frigo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.polaroid {
  width: 40%;
  height: 60%;
  margin-top: 20%;
  margin-right: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('files/assets/polaroid.webp');
}